#pageprincipal{
  width: 900px;
  margin: auto;;
}
header{
  border: 1px solid black;
  width: 100%;
}
header div{
  border-right: 1px solid black;
  text-align: center;
  width: 220.4px;
  display: inline-block;
}
#bestStations div{
  border-bottom: 1px solid black;
  margin-top: 15px;
}
