body{
  margin: auto;
  width: 80%;
}
header{
  border: 1px solid black;
  width: 100%;
}
header div{
  border-right: 1px solid black;
  text-align: center;
  width: 220.4px;
  display: inline-block;
}
div#lesposts div{
  border-top: 1px solid black;
  width:  30%;
}
