body{
  margin: auto;
  width: 80%;
}
header{
  border: 1px solid black;
   width: 100%;
}
header div{
  border-right: 1px solid black;
  text-align: center;
  width: 220.4px;
  display: inline-block;
}
img.avatar {
  height : 70px;
  max-height : 70px;
  width : 70px;
  max-width : 70px;
  margin-top : 15px;
  margin-right : 30px;
}
table {
  border-collapse : collapse;
}
table td {
  border : solid 1pt black;
  padding : 3pt;
}
#deconnexion{
  font-size: 1.2em;
  color: blue;
}
div#miseAjour{
  color: blue;
  /* text-decoration: underline; */
}
