#stationPrincipal{
  margin: auto;
  width: 80%;
}
#station{
  width : 400px;
  height : 300px;
}
input.masque{
  display: none;
}
div#station{
  margin-left: 240px;
}
header{
  border: 1px solid black;
  width: 80%;
  margin-bottom: 10px;
}
header div{
  border-right: 1px solid black;
  text-align: center;
  width: 24.51%;
  display: inline-block;
}
#formStation{
  display: flex;
}

section#infoStation{
  margin-top: 10px;
  display: flex;

}

#note{
  margin-left: 150px;
}
h5,h6{
  margin: 0px;;
  padding: 0px;
}
#erreurrecherche{
  background-color: red;
}
ul{
  list-style-type: none;
}
#post ul li{
  /* margin-top: 15px; */
  border: 1px solid black;
  width: 400px;
  height:  150px;
  /* padding-top: 15px; */
  margin-bottom: 10px;

  text-align: left;
  /* overflow: scroll; */
}
.date{
  font-size: 0.8em;
  position: relative;
  bottom: 10px;
  left: 10px;
  background-color: white;
}
div#post{
  /* border-right: 1px solid black; */
  margin-top: 10px;
}
#donne_avis{
  color: blue;
  position: relative;
  left: 100px;
}
#jePost{
  color: blue;
  position: relative;
  left: 190px;
}
span.echec{
  background-color: red;
}
a{
  text-decoration: none;
  /* color:black; */
}
#commentaire{
  height: 250px;
  overflow-y: scroll;
}
li span.like{
  position: relative;
  left: 100px
}
li span.contenu{
  position: relative;
  left: 30px;
}
