body{
  margin: auto;
  width: 600px;
}
header {
  border: 1px solid black;
  width: 500px;
}
header div{
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}
header div a{
  text-decoration: none;
}
